<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.druk.rtools" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ResourceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QualifierDetailActivity"
            android:label="@string/title_qualifier_detail"
            android:parentActivityName=".ResourceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ResourceActivity" />
        </activity>

        <activity
                android:name=".LicensesActivity"
                android:label="@string/licences"
                android:parentActivityName=".ResourceActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ResourceActivity" />
        </activity>
        <activity
                android:name=".HTMLViewerActivity">
        </activity>

    </application>

</manifest>
